*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
.app-container{
    display: flex;
}
.box-1{
    display: flex;
    flex-direction: column;
    gap: 23px;
    border: 1px solid rgb(218, 216, 216);
    width: 270px;
    border-radius: 7px;


    /* opacity: 0.1; */
}
/* .box-1 li{
    list-style: none;
    margin-left: 150px;
    margin-top: 10px;
} */
.box-2{
    display: flex;
    flex-direction: column;
    gap: 23px;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 7px;


    width: 270px;
}
.box-3{
    display: flex;
    flex-direction: column;
    gap: 23px;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 7px;

    width: 270px;
}
/* .main-content{
    display: flex;
    height: 110px;
    gap: 10px;
    margin-top: 100px;
    margin-left: 50px;
} */
.round{
    display: flex;
    height: 120px;
    gap: 10px;
    margin-top: 100px;
    margin-left: 30px;  
}
.round-2{
    display: flex;
    height: 120px;
    gap: 13px;
    margin-top: 20px;
    margin-left: 30px;  
}