*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    background-color: #e5e7eb;
    width: 22%;
    /* display: flex; */
}
/* .main li{
    display: flex;
} */
.side-bar{
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.side-bar li{
    list-style: none;
    /* display: flex; */
    margin-left: 20px;
    font-size: 18px;
}
.dashboard{
    margin-top: 45px;
    display: flex;
    gap: 5px;
}
.side-bar img{
    height: 27px;
    width: 27px;
}
.transport li{
    width: 190px;
}
.side-bar li:hover{
    cursor: pointer;
    font-weight: bold;
}
.side-bar img:hover{
    cursor: pointer;
    font-weight: bold;
}
.link{
    text-decoration: none;
    color: black;
}
